<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1><%= @snippet.title %></h1>
      <%= CodeRay.scan(@snippet.work, @snippet.kind.name).div(:line_numbers => :table).html_safe %>
      <% if can? :edit, @snippet %>
        <%= link_to 'Edit', edit_snippet_path(@snippet) %>
      <% end %>
      <% if can? :destroy, @snippet %>
        <%= link_to 'Delete', snippet_path(@snippet),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
